html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------- NAVBAR ---------------- */

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}
.hamburger span {
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 3px;
    transition: 0.3s;
}
.navbar {
    position: fixed;
    top: 0;
    left: 4.5rem;
    width: 100%;
    padding: 1.8rem;
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 3rem;
}
.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;     
    font-weight: 600;
    letter-spacing: 0.15rem;
    transition: 0.3s;
    cursor: pointer;
}
.nav-list a:hover {
    color: #00e1ff;
    cursor: pointer;
    transition: 1.2s;
    border-bottom: 1px solid #00e1ff;
}

/* ---------------- ABOUT DESKTOP ---------------- */

 .contenedor-about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 5rem;
    background-color: #000;
}

.contenido-about {
    width: 65%;
}
.contenido-about h1 {
    position: relative;
    top: 160px;
    left: 110px;
    color: #fff;
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    border-bottom: 0.01rem solid #333;
    margin-bottom: 0.5rem;
}
.contenido-about .correo {
    position: relative;
    top: 160px;
    left: 110px;
    color: #D8D8D8;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: 100;
}
.texto-largo {
    width: 80%;
    text-align: justify;
    line-height: 1.3;
    position: relative;
    top: 280px;
    left: 110px;
    font-size: 1.6rem;
    color: #d8d8d8;
}


.contenido-img {
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

.contenido-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.85; 
    border-radius: 10px;
}
/* --------------------- RESPONSIVE ------------------------ */


@media (max-width: 768px) {
    .principal .header .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
}

      
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        left: 340px;
        z-index: 1;
    }

    .hamburger span {
        width: 28px;
        height: 2.4px;
        background: #fff;
        border-radius: 3px;
        transition: 0.3s ease;
    }
    .nav-list {
        position: absolute;
        top: -15px;
        left: 150px;
        background: rgba(0, 0, 0, 0.85);
        width: 90%;
        flex-direction: column;
        padding: 10px;
        display: none;
        border-radius: 10px;
        backdrop-filter: blur(6px);
    }

    .nav-list li a {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
    }
    .nav-list.active {
        display: flex;
        position: relative;
        gap: 2rem;
        background-color: #0000005e;
        top: 0px;
        left: 20px;
        background: #000;
        width: 89%;
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;
        backdrop-filter: blur(6px);
        justify-content: center;
        align-items: center;
    }
    .hamburger.open span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    
    .contenedor-about {
        width: 100%;
        height: auto;
        display: flex;
        padding: 1em 1rem;
        background-color: #000;
        flex-direction: column;
    }
.contenido-about {
        width: 100%;
    }

.contenido-about h1 {
    position: relative;
    top: 0px;
    left: 0px;
    color: #fff;
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    border-bottom: 0.01rem solid #333;
    margin-bottom: 0.5rem;
    text-align: center;
}
.contenido-about .correo {
        position: relative;
        top: 0px;
        left: 0;
        color: #D8D8D8;
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
        font-weight: 100;
        text-align: center;
        margin-bottom: 6rem;
    }
.texto-largo {
    width: 100%;
    text-align: justify;
    line-height: 1.3;
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 1.6rem;
    color: #d8d8d8;
}
    .contenido-img {
        width: 100%;
    }
    .contenido-img img {
    width: 60%;
    margin: auto;
    margin-top: 7rem;
}
} 


