html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    position: fixed;
    top: 0;
    left: 4.5rem;
    width: 100%;
    padding: 1.8rem;
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 3rem;
}
.nav-list li a {
    text-decoration: none;
    font-size: 1.5rem;     
    font-weight: 600;
    letter-spacing: 0.15rem;
    transition: 0.3s;
    cursor: pointer;
    color: #888;
}
.nav-list a:hover {
    color: #00e1ff;
    cursor: pointer;
}
/* ----------------------------------------------- */

.contenedor-about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 5rem;
    background-color: #000;
}

/* COLUMNA IZQUIERDA */
.contenido-about {
    width: 60%;
}
.contenido-about h1 {
    position: relative;
    top: 160px;
    left: 110px;
    color: #fff;
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    border-bottom: 0.01rem solid #333;
    margin-bottom: 0.5rem;
}
.contenido-about .correo {
    position: relative;
    top: 160px;
    left: 110px;
    color: #D8D8D8;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: 100;
}
.texto-largo {
    width: 80%;
    text-align: justify;
    line-height: 1.3;
    position: relative;
    top: 280px;
    left: 110px;
    font-size: 1.6rem;
    color: #d8d8d8;
}

.direccion {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    font-size: 1.6rem;
    top: 510px;
    left: 110px;
    color: #d8d8d8;
    font-weight: bold;
}
.one {
    margin-left: 4.3rem;
}
.two::before,.two::after {
    content: "";
    flex: 0.05;
    height: 2px;
    background: #fff;
}

/* COLUMNA DERECHA */
.contenido-img {
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

.contenido-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.85; /* opacidad suave */
    border-radius: 10px;
}