html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    position: fixed;
    top: 0;
    left: 4.5rem;
    width: 100%;
    padding: 1.8rem;
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 3rem;
}
.nav-list li a {
    text-decoration: none;
    font-size: 1.5rem;     
    font-weight: 600;
    letter-spacing: 0.15rem;
    transition: 0.3s;
    cursor: pointer;
    color: #888;
}
.nav-list a:hover {
    color: #00e1ff;
    cursor: pointer;
}

body {
    background-color: #000;
}
body h1 {
    font-size: 6rem;
    text-align: center;
    color: #d8d8d8;
    margin-top: 10.8rem;
    margin-bottom: 3rem;
}
/* ------------ */
table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(128, 128, 128, 0.087);
    border-radius: 0.7rem;
}
tr th {
    font-size: 2rem;
    width: 22rem;
    border-radius: 7px;
    padding: 12px;
    background-color: rgba(128, 128, 128, 0.375);
}
tr td {
    font-size: 18px;
    text-align: center;
    padding: 12px 0px;
    border-bottom: 1px solid #4c4b4b;
    color: #888
}
td a {
    list-style: none;
    text-decoration: none;
    background-color: rgba(88, 86, 86, 0.455);
    display: block;
    width: 60px;
    margin: 0px 50px;
    color: #888;
    border-radius: 7px;
    padding: 2px 3px;
}
a:hover {
    color: gray;
    background-color: #000;
    cursor: pointer;
} 
div{
    width: 60%;
    background-color: rgba(128, 128, 128, 0.124);
    margin: auto;
    border-radius: 8px;
}